

body {
	margin: auto 0;
	text-align: center;
}
ul, ol, li {
	list-style: none;
}

#top{
	padding-top: 30px;
	padding-bottom:30px;
	background: #43CD80;
}

img.logo{
	width: 50%;
	min-width: 50px;
	max-width: 400px;
}

.container {
	width: 100%;
	display: block;
	left: 50%;
	right: 50%;
	background: white;
	margin: auto 0;
}

.search {
	right: 50%;
	left: 50%;
	margin-right: 8%;
	margin-left: 8%;
}

h1 {
	padding-top: 30px;
	color:#838B83;
}

.input {
	display: inline-block;
	text-align: center;
	position: relative;
	min-width: 50px;
	max-width: 400px;
}

input.query {
	display: inline-block;
	position: relative;
	padding: 8px 25px 8px 8px;
	width: 90%;
}

input.plus {
	display: inline-block;
	position: relative;
	width: 5%;
	top:-27px;
	right: -175px;

}

.list{
	display: block;
	margin: 0 auto;
	min-width: 50px;
	max-width: 400px;
	padding-bottom: 20px;

}

p {
	border-top: 1px dashed black;
	padding-top: 15px;
	padding-bottom: 5px;
}

