

.highlight {
	text-decoration: line-through;
}

body {
	margin: auto 0;
	text-align: center;
}

ul, ol, li {
	color: #838B83;
	list-style: none;
	margin: 0;
  	padding: 0;
  	font-size: 1.1em;

}

p{
color: #838B83;}

#top{
	padding-top: 30px;
	background: #43CD80;
}

img.logo{
	width: 50%;
	min-width: 50px;
	max-width: 400px;
}

.container {
	width: 100%;
	display: block;
	left: 50%;
	right: 50%;
	background: white;
	margin: auto 0;
}

.search {
	right: 50%;
	left: 50%;
	margin-right: 8%;
	margin-left: 8%;
}

h1 {
	padding-top: 30px;
	color:#43CD80;
}

.input {
	display: inline-block;
	text-align: center;
	position: relative;
	min-width: 50px;
	max-width: 400px;
}

input.query {
	display: block;
	position: relative;
	padding: 8px 25px 8px 8px;
	width: 300px;
	margin-bottom: 25px;
}

.on-list {
	padding-top: 10px;
	padding-bottom: 10px;
}

footer {
	position: absolute;
	bottom: 0;
}

span {
	padding-left: 8px;
}

.list{
	text-align: center;
}

.added {
	margin: 0 auto;
	min-width: 50px;
	max-width: 400px;
	border-top: 1px dotted black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	text-align: left;
	background-color: #F5FFFA;
}

.delete {
	width: 25px;
	position: relative;
	float:right; 
	padding-right: 25px;
	top:-1px;

}


.none {
	display: none;
}

.none.delete{
	display: none;
}

.strike-though{
	text-decoration: line-through;
}