
body {
	margin: auto 0;
	text-align: center;
}

a:hover {
	background: #E0EEE0;
}

ul, ol, li {
	list-style: none;
}

#top{
	padding-top: 30px;
	background: #43CD80;
}

img.logo{
	width: 50%;
	min-width: 50px;
	max-width: 400px;
}

.container {
	width: 100%;
	display: block;
	left: 50%;
	right: 50%;
	background: white;
	margin: auto 0;
}

.search {
	right: 50%;
	left: 50%;
	margin-right: 8%;
	margin-left: 8%;
}

h1 {
	padding-top: 30px;
	color:#838B83;
}

.input {
	display: inline-block;
	text-align: center;
	position: relative;
	min-width: 50px;
	max-width: 400px;
}

input.query {
	display: block;
	position: relative;
	padding: 8px 25px 8px 8px;
	width: 300px;
	margin-bottom: 25px;
}

input.plus {
	display: inline-block;
	position: relative;
	width: 5%;
	top:-27px;
	right: -175px;

}

.list{
	margin: 0 auto;
	min-width: 50px;
	max-width: 400px;
	padding-bottom: 20px;

}

.on-list {
	padding-top: 10px;
	padding-bottom: 10px;
}

footer {
	position: absolute;
	bottom: 0;
}

span {
	padding-left: 8px;
}

.list-item {
	border-top: 1px dotted black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	text-align: left;
}

a.remove {
	color: gray;
	text-decoration: none;
	font-size: 80%;
	display: inline-block;
	float: right;
	margin-right: 20px;
}
.none {
	display: none;
}